.nav{
    background-color: #525e65;
    box-shadow: 0 0 10px black;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    z-index: 4000;
}

ul{
    display: flex;
}

li{
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 12px;
    cursor: pointer;
}

li:hover > a{
    color: aquamarine;
}

.activo{
    color: aquamarine;
    position: relative;
    display: flex;
    justify-content: center;
    width: 70px;
    transition: 0.3s all ease;
}

.activo > a{
    color: aquamarine;
}


.a-btn{
    height: 50px;
}

.activo::before{
    content: '';
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: aquamarine;
}